*{background: color burlywood;(255, 204, 127, 0.966);}
img {height: 500px;; width: auto;margin-left: 175px;}
p{font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;}
h1{text-align:center;color: darkblue;}